PORT=3001
APP_URL=https://tu-dominio-o-railway.app
JWT_SECRET=cambia_este_secreto

# Local normal
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=garcita_store_web

# Railway MySQL tambien funciona con estas variables si Railway las entrega:
# MYSQLHOST=
# MYSQLPORT=
# MYSQLUSER=
# MYSQLPASSWORD=
# MYSQLDATABASE=
# MYSQL_URL=

ADMIN_USERNAME=admin
ADMIN_PASSWORD="cambia_esta_clave"
